//	------------------------------------------------------------------
//	Aye! aye.agency
//
//	Global Styles
// 	------------------------------------------------------------------

html, body {
	margin: 0;
}

html.is-reveal-open, html.is-reveal-open body {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.page-wrap {
	background: #fff;
	overflow: hidden;
}

::selection 	 { background: rgba(231, 70, 27, 0.6); }
::-moz-selection { background: rgba(231, 70, 27, 0.6); }

.fade-in {
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: .75s;
	transition-timing-function: cubic-bezier(0.645,0.045,0.355,1.000);
	transform: translateY(10px);
	&.active {
		opacity: 1;
		transform: translateY(0);
	}

	&.x1 { transition-delay: .25s; }
	&.x2 { transition-delay: .5s;  }
	&.x3 { transition-delay: .75s; }
	&.x4 { transition-delay:  1s;  }
}

// 	------------------------------------------------------------------
//	General
// 	------------------------------------------------------------------

section {
	position: relative;
	padding: rem-calc(35 0);
	@include breakpoint(medium) {
		padding: rem-calc(60 0);
	}
	@include breakpoint(large) {
		padding: rem-calc(70 0);
	}

	.row {
		position: relative;
		z-index: 10;
	}
}

article {
	position: relative;
	overflow: hidden;
}

.hero {
   	position: relative;
	background-color: $primary-color;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
   	min-height: 250px;
   	max-height: 900px;
   	@include breakpoint(medium) {
		min-height: 65%;
		height: 65vh;
	   	height: calc(65vh - 100px);
   	}

   	&:before {
		content: '';
		position: absolute;
		width: 100%;
		left: 0;
		height: 50px;
		bottom: -25px;
		@include breakpoint(medium) {
			height: 100px;
			bottom: -50px;
		}
		overflow: visible;
		background: #fff;
		z-index: 9999;
		transform: skewY(-3deg);
		backface-visibility: initial;
	}

	.caption {
		width: 100%;
		text-align: center;
		@include absolute-center;
		padding-bottom: rem-calc(25);
		@include breakpoint(medium) { padding-bottom: rem-calc(50); }

		h1, h2, h3, p {
			color: #fff;
			line-height: 1;
		}
	}

	&.home {
		background: url('../img/homepage-bg.jpg') no-repeat center center;
		background-size: cover;
		min-height: 450px;
		@include breakpoint(medium) {
			min-height: 100%;
			height: 100vh;
			margin-top: -100px;
		   	height: calc(100vh);
	   	}

	   	.caption {
			padding-bottom: rem-calc(15);
			@include breakpoint(medium) { padding-bottom: rem-calc(20); }
		}
	}
}

.features-swiper {
   	.swiper-slide {
		position: relative;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
   	}

   	.nav {
   		margin-top: rem-calc(20);
   		position: relative;
   		height: 50px;
   		@include breakpoint(medium) {
   			width: 125px;
   		}

   		.prev {
   			position: relative;
   			float: left;
   		}
   		.next {
   			position: relative;
   			float: right;
   			img {
   				transform: rotate(180deg);
   			}
   		}
   	}

   	.column { box-sizing: border-box; }

   	.swiper-pagination-bullet {
		border: 2px solid #fff;
		background: none;
		width: 15px;
	    height: 15px;
	    opacity: 1;
	}

	.swiper-pagination-bullet-active {
		background: $primary-color;
		border: 2px solid $primary-color;
	}

	.swiper-button-white {
		background: none;
		&.swiper-button-prev {
			transform: rotate(180deg);
		}
	}
}

.cta {
	position: relative;
	padding-top: rem-calc(75);
	@include breakpoint(medium) {
		padding-top: rem-calc(110);
	}
	@include breakpoint(large) {
		padding-top: rem-calc(150);
	}

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		left: 0;
		height: 50px;
		top: -25px;
		@include breakpoint(medium) {
			height: 100px;
			top: -50px;
		}
		overflow: visible;
		background: #fff;
		z-index: 9999;
		transform: skewY(3deg);
		backface-visibility: initial;
	}
}

.checkout {
	position: relative;
	h5 {
		margin-bottom: rem-calc(20);
	}

	.windows {
		.btn-hollow {
			width: 100%;
			font-size: rem-calc(20);
			margin-bottom: 0;
			padding-left: rem-calc(5);
			padding-right: rem-calc(5);
		}

		@include breakpoint(large) {
			.column-block { margin-bottom: 0; }
		}
	}

	@include breakpoint(small down) {
		.btn-hollow {
			width: 100%;
			margin-bottom: rem-calc(15);
		}
	}
}

.card {
	background: $brown url('../img/card-bg.svg') no-repeat right bottom;
	background-size: contain;
	margin-bottom: rem-calc(20);
	@include breakpoint(medium) {
		margin-bottom: 0;
	}

	.content {
		padding: rem-calc(20 15 25);
		@include breakpoint(medium) {
			padding: rem-calc(25 25 35);
		}
		@include breakpoint(large) {
			padding: rem-calc(30 35 40);
		}

		p { color: #fff; }
	}
}

.account-box {
	position: relative;
	border: 1px solid $medium-grey;
	min-height: 225px;
	margin-bottom: rem-calc(25);
	padding: rem-calc(15 10);
	@include breakpoint(medium) {
		padding: rem-calc(20 15);
	}
	@include breakpoint(large) {
		padding: rem-calc(20 15);
	}

	h4 { font-weight: 400; }

	p, li {
		margin: 0;
		font-size: rem-calc(16);
	    @include breakpoint(medium) {
	        font-size: rem-calc(16);
	    }
	    @include breakpoint(large) {
	        font-size: rem-calc(18);
	    }
	}

	.menu {
		li {
			margin-right: rem-calc(25);
		}
		li:last-child { margin-right: 0; }
	}

	h5 {
		color: $primary-color;
		font-size: rem-calc(26);
		margin-top: rem-calc(10);
		margin-bottom: rem-calc(20);
	}

	.edit {
		font-weight: 700;
		position: absolute;
		right: 15px;
		top: 15px;
		color: $dark-grey;
		letter-spacing: -1px;
		font-size: rem-calc(18);
		&:hover {
			text-decoration: underline;
		}
	}
}

.cleaner {
	@include breakpoint(medium) {
		.review {
			text-align: right;
		}

		.btn-primary {
			float: right;
		}
	}

	p { margin: 0; }
}

.review {
	i {
		color: #ffea0e;
		font-size: rem-calc(18);
	}
}

.recommend {
	margin-top: rem-calc(20);
	position: relative;
	background: $light-grey url('../img/grey-triangle.svg') no-repeat right bottom;
	background-size: 350px;
	padding: rem-calc(15 20);
	@include breakpoint(medium) {
		padding: rem-calc(20 25);
	}
	@include breakpoint(large) {
		padding: rem-calc(25 30);
	}

	&:before {
		content: '';
		background: url('../img/guy_cleaning.png') no-repeat right bottom;
		background-size: contain;
		width: 50%;
		height: 105%;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    display: none;
	    @include breakpoint(large) {
	    	display: block;
	    }
	}

	h3 {
		color: $primary-color;
		margin-bottom: rem-calc(10);
	}

	p {
		font-size: rem-calc(18);
	}

	form {
		margin-top: rem-calc(15);
		@include breakpoint(medium) {
			margin-top: rem-calc(25);
		}
		@include breakpoint(large) {
			margin-top: rem-calc(30);
		}

		input[type='text'] {
			border: 0;
		}

		.btn-primary {
			height: 50px;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

.postcode-search {
	margin: 0 auto;
	max-width: 550px;
	margin-top: rem-calc(25);
	@include breakpoint(medium) {
		margin-top: rem-calc(40);
	}
	@include breakpoint(large) {
		margin-top: rem-calc(60);
	}

	input[type='text'] {
		border: 0;
	}

	.input-group-label {
		border: none;
		background: #fff;
		padding-left: rem-calc(13);
		padding-right: rem-calc(13);
		color: $medium-grey;
	}

	.btn-primary {
		height: 50px;
		padding-top: 0;
		padding-bottom: 0;
	}
}

// 	------------------------------------------------------------------
//	Forms
// 	------------------------------------------------------------------

form {
	label {
		font-weight: 700;
	    color: $secondary-color;
	    margin: rem-calc(5 0 0 0);
	    font-size: rem-calc(20);
	}

	p {
		font-size: rem-calc(20);
	}

	input[type='text'], input[type='email'], input[type='date'], input[type='tel'], input[type='password'], select, textarea {
	    margin: 0;
	    height: 50px;
	    box-shadow: none;
	    color: $dark-gray;
	    font-size: rem-calc(20);
	    letter-spacing: -.5px;
	    &:focus {
	    	border-color: $primary-color;
	    }
	}

	.button {
		height: 50px;
	}

}

.checkbox-wrap {
	margin: 0;
	display: inline-block;

	input[type=checkbox], input[type=radio] {
		display: none;

		&:checked + .fake-tick::before {
			content: "✓";
			color: $primary-color;
			border: 1px solid $primary-color;
		}
	}

	label { margin: 0; }

	.fake-tick {
		display: inline-block;
		font-weight: normal;
		left: 0;
		line-height: 20px;
		position: relative;

		&::before {
			content: "✓";
			color: #fff;
			background: #fff;
			border: 1px solid #bfbfbf;
			border-radius: 0;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 19px;
			text-decoration: inherit;
			text-align: center;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			display: inline-block;
			transition: .25s all ease-in;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

table {
	color: $dark-grey;
	font-size: rem-calc(18);
	a {
		border-bottom: 1px solid $dark-grey;
		color: $dark-grey;
	}
}

.login, .create-account {
	input[type='text'], input[type='email'], input[type='date'], input[type='tel'], input[type='password'], textarea {
		margin-bottom: rem-calc(10);
	}

	h5 { margin: rem-calc(20 0); }
}

.info {
	margin-top: 7px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-size: rem-calc(18);
	color: $dark-gray;

	&:hover {
		color: $primary-color;
		opacity: 0.6;
	}
}

.privacy {
	margin-top: rem-calc(20);
	border: 1px solid $primary-color;
	padding: rem-calc(8 10 0 10);
	display: none;
	p {
		font-size: rem-calc(14);
		margin-bottom: rem-calc(10);
		line-height: 1.5;
	}
	a {
		color: $primary-color;
	}
}

