.btn-primary, .btn-secondary, .btn-hollow {
	padding: rem-calc(12 26 14);
	cursor: pointer;
	text-decoration: none;
	transition: all .25s ease-in-out;
	display: inline-block;
	font-weight: 400 !important;
	border: none;
	position: relative;
	text-align: center;
	background: transparent;
	line-height: 1 !important;
	letter-spacing: -.5px;
	font-family: $header-font-family;
	font-size: rem-calc(20);
	@include breakpoint(medium) { font-size: rem-calc(22); }

	&:focus, &:hover { outline: none; }
	&:after { display: none; }
	&.block {
		width: 100%;
	}
}

.btn-primary {
	background: $secondary-color;
	color: #fff;
	&:hover, &:active, &:focus, &:active:focus, &:active:hover, {
		background: darken($secondary-color, 10%);
		color: #fff;
	}
}

.btn-secondary {
	background: $primary-color;
	color: #fff;
	&:hover, &:active, &:focus, &:active:focus, &:active:hover, {
		background: darken($primary-color, 10%);
		color: #fff;
	}
}

.btn-hollow {
	border: 1px solid #CECECE;
	color: $dark-grey;
	&:hover, &:active, &:focus, &:active:focus, &:active:hover, {
		background: #fff;
		color: $secondary-color;
		border-color: $secondary-color;
	}
}

.continue {
	display: block;
	padding: rem-calc(22 80);
	@include breakpoint(medium) { display: inline-block; padding: rem-calc(18 80 16); }

	&:after {
		content: '';
		width: 45px;
    	height: 27px;
		display: block;
		background: url('../img/long-arrow.svg') no-repeat center center;
		background-size: contain;
		float: right;
		margin-left: rem-calc(15);
		left: 0;
		top: -1px;
		position: relative;
		transition: all .25s ease-in-out;
	}

	&:hover, &:focus {
		&:after {
			left: 4px;
		}
	}
}