.dotted {
	border-style: dashed;
	margin: 2rem 0;
}

hr {
	border: .5px solid #EFEFEF;
	max-width: inherit;
	margin: rem-calc(20) 0;
    @include breakpoint(medium) {
    	margin: rem-calc(30) 0;
    }
    @include breakpoint(large) {
    	margin: rem-calc(40) 0;
    }

	&.tiny {
		border-color: $primary-color;
		border-width: 5px;
	    width: 30px;
	}

	&.white {
		border-color: #fff;
	}
}

