.grey  { background-color: $light-grey; }

.orange {
	background-color: $primary-color;
	h1, h2, h3, li, p { color: #fff; }
	h4, h5, h6 { color: $secondary-color; }

	.btn-primary, .btn-secondary { color: #fff; }
}

.slant-bottom {
	overflow: hidden;
	padding-bottom: rem-calc(85);
	@include breakpoint(medium) {
		padding-bottom: rem-calc(160);
	}
	@include breakpoint(large) {
		padding-bottom: rem-calc(200);
	}
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		left: 0;
		height: 50px;
		bottom: -25px;
		@include breakpoint(medium) {
			height: 100px;
			bottom: -50px;
		}
		overflow: visible;
		background: #fff;
		z-index: 9999;
		transform: skewY(-3deg);
		backface-visibility: initial;
	}
}

.slant-top {
	overflow: hidden;
	padding-top: rem-calc(85);
	@include breakpoint(medium) {
		padding-top: rem-calc(160);
	}
	@include breakpoint(large) {
		padding-top: rem-calc(200);
	}
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		left: 0;
		height: 50px;
		top: -25px;
		@include breakpoint(medium) {
			height: 100px;
			top: -50px;
		}
		overflow: visible;
		background: #fff;
		z-index: 9999;
		transform: skewY(3deg);
		backface-visibility: initial;
	}
}

.image-block {
	position: relative;
	padding: 0;
	background-size: cover;
	background-position: center;
	height: 300px;
	@include breakpoint(medium) {
		height: 400px;
	}
	@include breakpoint(large) {
		height: 600px;
	}
}

.mission {
	background: $light-grey url('../img/mission.jpg') no-repeat center left;
	background-size: cover;
	h1, h2, h3, li, p {
		color: #fff;
		@include breakpoint(medium) { color: $dark-grey; }
	}

	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: rgba(0,0,0,.25);
		z-index: 1;
	}
}