h1, .mce-content-body h1 {
    color: $primary-color;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -2px;
    margin-bottom: .75rem;
    @include breakpoint(medium) { margin-bottom: 1.25rem; }
}

h2, .mce-content-body h2 {
    font-weight: 900;
    color: $primary-color;
    letter-spacing: -2px;
    line-height: 1;
    margin-bottom: .75rem;
    @include breakpoint(medium) { margin-bottom: 1.25rem; }
}

h3 {
    font-weight: 900;
    color: $dark-grey;
    letter-spacing: -1px;
    margin-bottom: .75rem;
    @include breakpoint(medium) { margin-bottom: 1.25rem; }
}

h4 {
    font-weight: 900;
    color: $primary-color;
    letter-spacing: -1px;
    margin-bottom: .5rem;
    @include breakpoint(medium) { margin-bottom: .75rem; }
}

h5 {
    font-weight: 900;
    color: $dark-grey;
    letter-spacing: -1px;
    margin-bottom: .5rem;
}

h6 {
    font-weight: 900;
    color: $secondary-color;
}

p { margin-bottom: 1.25rem; }

p, li {
    color: $dark-grey;
    font-weight: 400;
    font-size: rem-calc(18);
    letter-spacing: -.5px;
    @include breakpoint(medium) {
        font-size: rem-calc(20);
    }
    @include breakpoint(large) {
        font-size: rem-calc(22);
    }
}

.lead {
    font-size: 125%;
    @include breakpoint(medium) {
        font-size: 145%;
    }
}

.primary {
    color: $primary-color;
}
.secondary {
    color: $secondary-color;
}
.dark-grey {
    color: $dark-grey;
}

@font-face {
    font-family: 'Wigrum';
    src: url('../fonts/wigrum/Wigrum-Regular.eot');
    src: url('../fonts/wigrum/Wigrum-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/wigrum/Wigrum-Regular.woff2') format('woff2'),
        url('../fonts/wigrum/Wigrum-Regular.woff') format('woff'),
        url('../fonts/wigrum/Wigrum-Regular.ttf') format('truetype'),
        url('../fonts/wigrum/Wigrum-Regular.svg#Wigrum-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wigrum';
    src: url('../fonts/wigrum/Wigrum-Black.eot');
    src: url('../fonts/wigrum/Wigrum-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/wigrum/Wigrum-Black.woff2') format('woff2'),
        url('../fonts/wigrum/Wigrum-Black.woff') format('woff'),
        url('../fonts/wigrum/Wigrum-Black.ttf') format('truetype'),
        url('../fonts/wigrum/Wigrum-Black.svg#Wigrum-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}