footer {
    position: relative;
	background: $brown;
	padding: rem-calc(30 0 0 0);
	@include breakpoint(medium) {
       padding: rem-calc(50 0 0 0);
    }

    h4 { color: #fff; }

    p, a {
    	color: #fff;
        font-size: rem-calc(18);
    	@include breakpoint(medium) { font-size: rem-calc(20); }
    }

    .menu {
        @include breakpoint(small) { margin-bottom: rem-calc(20); }
        li a {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .lower-footer {
        border-top: 1px solid #fff;
		padding: rem-calc(20 0);
		margin-top: rem-calc(15);
        @include breakpoint(medium) {
            padding: rem-calc(25 0);
            margin-top: rem-calc(50);
        }
        p, a {
            margin: 0;
            font-size: rem-calc(14);
            @include breakpoint(medium) { font-size: rem-calc(18); }
        }
    }
}