header {
    position: relative;
    z-index: 9999;
    background: #fff;
    border-bottom: 1px solid $medium-grey;
    @include breakpoint(large) {
        background: $primary-color;
        border: none;
    }

    .main-navigation {
        .menu {
            position: inherit;
            text-align: right;
            li {
                a {
                    outline: none;
                    font-weight: 400;
                    position: relative;
                    font-size: rem-calc(22);
                    margin: rem-calc(15 10);
                    padding: 0;
                    color: #fff;
                    @include breakpoint(large) { margin: rem-calc(40 15 0); }

                    &:before {
                        content: '';
                        height: 1px;
                        width: 100%;
                        position: absolute;
                        bottom: -9px;
                        left: 0;
                        background: #fff;
                        opacity: 0;
                        transition: all .3s cubic-bezier(0.645,0.045,0.355,1.000);
                    }

                    &:focus:before, &:hover:before  {
                        opacity: 1;
                        bottom: -5px;
                    }
                }

                .log-in i { font-size: rem-calc(18); }
                .sign-up { margin-left: rem-calc(80) !important; }
            }
        }

        .is-dropdown-submenu-parent {
            position: static;
            > a {
                padding-right: 0 !important;
                &:after { display: none !important; }
            }

            .submenu {
                text-align: left;
                background: #fff;
                border: none;
                position: absolute;
                width: 100%;
                right: 0 !important;
                left: inherit !important;
                top: 100% !important;
                margin: 0;
                display: block;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-10px);
                transition: all .2s cubic-bezier(0.645,0.045,0.355,1.000);
                li {
                    text-align: center;
                    width: 50%;
                    display: inline-block;
                    float: left;
                    margin: rem-calc(150 0);
                    a {
                        color: $primary-color;
                        font-weight: 900;
                        line-height: 1;
                        letter-spacing: -2px;
                        font-size: rem-calc(36);
                        margin: 0;
                        display: inline-block;
                        position: relative;
                        &:after {
                            content: '';
                            height: 40px;
                            width: 40px;
                            position: relative;
                            background: url('../img/arrow-orange.svg') no-repeat center center;
                            display: block;
                            float: right;
                            margin-top: 0;
                            margin-left: rem-calc(35);
                        }

                        &:before {
                            background: $primary-color;
                            z-index: 999;
                        }
                    }
                }

                &.js-dropdown-active {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .active > a, .current_page_item a, .dropdown.menu .is-active > a {
            background: transparent;
            color: #fff;
            opacity: .5;
        }

        .logo {
            a   {
                margin: rem-calc(25 0);
                @include breakpoint(medium) {
                    margin: rem-calc(32 0) !important;
                }

                &:before { display: none; }
            }
        }
    }
}

@include breakpoint(large) { .home header { background: transparent; } }

.off-canvas {
    background: $primary-color;
    box-shadow: none !important;
    .mobile-menu {
        margin-top: rem-calc(15);
        li {
            a {
                color: #fff;
                outline: none;
                font-size: rem-calc(20);
                padding: rem-calc(13 20);
                font-weight: 400;
                &:focus, &:hover { color: #fff; opacity: 0.5; }
                &:after { display: none; }
            }
        }

        .active > a {
            background: transparent;
            font-weight: 700;
            color: $secondary-color;
        }

        .submenu {
            background: darken($primary-color, 7%);
            margin-left: 0;
            padding: rem-calc(5 0);
            li {
                a {
                    padding: rem-calc(10 20);
                    font-size: rem-calc(18);
                }
            }
        }

        .offcanvas-contact-info {
            display: inline-block;
            margin-top: rem-calc(20);
            a { &:focus, &:hover { color: $secondary-color; } }
        }
    }

    .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
        border-color: #FFFFFF transparent transparent;
        right: 20px;
    }
}

.toggle {
    display: block;
    width: 45px;
    height: 36px;
    z-index: 99999;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-top: rem-calc(5);
    @include vertical-center;
    right: 15px;
    span {
        display: block;
        position: absolute;
        width: 100%;
        background: $primary-color;
        border: 2px solid $primary-color;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
}

.toggle span:nth-child(1) { top: 0px; }
.toggle span:nth-child(2), .toggle span:nth-child(3) { top: 12px; }
.toggle span:nth-child(4) { top: 24px; }

.toggle.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
}

.toggle.open span:nth-child(2) { transform: rotate(45deg); }
.toggle.open span:nth-child(3) {  transform: rotate(-45deg); }

.toggle.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.is-open {
    visibility: visible;
    opacity: 1;
}

[data-responsive-menu] ul {
    display: none;
}