aside {
	display: none;
	background: #e5e5e5;
	z-index: 999;
	@include breakpoint(large) {
		position: absolute;
		bottom: inherit;
		top: 0;
		right: 0;
		width: 33.333333%;
		height: 100%;
		display: inherit;

		.responsive-embed {
			height: 100%;
		}
	}

	h1, h2, h3, h4, p, li, a {
		color: #EFEFEF;
	}

	h2 {
		@include breakpoint(medium down) {
			font-size: rem-calc(28);
		}
	}

	hr {
		border-color: #272525;
		margin: rem-calc(10) 0;
	    @include breakpoint(medium) {
	    	margin: rem-calc(15) 0;
	    }
	}

	.price {
		font-weight: 400;
	}
}